<% include ../partials/head %>
    <%if(!err) { %>
        <div></div>
    <% } else { %>
         <div><%=msg%></div>
    <% } %>

<div class="fluid-container" style="padding-bottom: 0;">
    <div class="container" style="height: 100%;">
        <div class="col">
            <h1 class="title main__title text-center pt-4">Blogs</h1>
        </div>
        <div class="col-lg-12 mt-5">
            <div class="card mb-3 pt-10 mx-auto ">
                <div class="col">
                    <h3 class="title main__title text-center pt-4">Add Blog</h3>
                </div>
                <form action="/blogs/add" method="post" enctype="multipart/form-data">
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <img class="img-fluid" id="output" src="../assets/images/blogs.png" alt="img">
                            <div class="form-group mt-4">
                                <input type="file" name="file" required accept="image/*" onchange="loadFile(event)">
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="exampleFormControlInput1">Title</label>
                                <input type="text" class="form-control" name="title" id="exampleFormControlInput1"
                                    placeholder="Title" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" name="description" id="exampleFormControlTextarea1"
                                    rows="5"  required autofocus></textarea>
                            </div>
                            

                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-dark sub_btn custom_btn btn-block">Add
                                    Blog</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>
<script>
    CKEDITOR.replace('exampleFormControlTextarea1');
</script>
<% include ../partials/footer %>