<% include ../partials/head %>
<div class="fluid-container">
	<div class="container">
		<div class="col">
			<h1 class="title main__title text-center pt-4">About</h1>
		</div>
		<div class="row" style="margin-top: 20px; margin-bottom: 40px">
			<div class="col-lg-6">
				<h5 style="margin-top: 80px">
					A multiutility application that allows users to view movies,
					news, upcoming and ongoing contests, books and also a post
					sharing platform where users can post,view others post and
					like and comment as well.
				</h5>
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="../assets/images/team.png" alt="" />
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h5 class="highlight"><strong>Features:</strong></h5>
				<ul class="list-group">
					<li class="list-group-item">
						Stay updated with latest news.
					</li>
					<li class="list-group-item">
						Search out the latest movies on the go.
					</li>
					<li class="list-group-item">
						Search, view books and add to your library.
					</li>
					<li class="list-group-item">View and write blogs.</li>
					<li class="list-group-item">
						View upcoming and ongoing Coding contests.
					</li>
				</ul>
			</div>
			<div class="col-lg-6">
				<h5 class="highlight">
					<strong>Designed and Developed by:</strong>
				</h5>
				<ul class="list-group pt-1">
					<li class="list-group-item">
						Ritik Srivastava (@ritiksr25)
						<br />
						<br />
						<a
							href="https://www.github.com/ritiksr25"
							target="_blank"
							><i class="fab fa-github space"></i
						></a>
						<a
							href="https://www.linkedin.com/in/ritiksr25"
							target="_blank"
							><i class="fab fa-linkedin space"></i
						></a>
						<a
							href="https://www.instagram.com/_ritiksr25"
							target="_blank"
							><i class="fab fa-instagram space"></i
						></a>
						<a href="mailto:ritiksr25@gmail.com" target="_blank"
							><i class="fas fa-envelope space"></i
						></a>
					</li>
					<br />
					<li class="list-group-item">
						Mayank Shakya (@mayanksh99)
						<br />
						<br />
						<a
							href="https://www.github.com/mayanksh99"
							target="_blank"
							><i class="fab fa-github space"></i
						></a>
						<a
							href="https://www.linkedin.com/in/mayanksh99"
							target="_blank"
							><i class="fab fa-linkedin space"></i
						></a>
						<a
							href="https://www.instagram.com/_mr._mak_"
							target="_blank"
							><i class="fab fa-instagram space"></i
						></a>
						<a
							href="mailto:mayankshakya992@gmail.com"
							target="_blank"
							><i class="fas fa-envelope space"></i
						></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<% include ../partials/footer %>
</div>
