<% include ../partials/head %>
<div class="fluid-container ">
  <div class="container">
    <div class="col">
      <h1 class="title main__title text-center pt-4">Admin Dashboard</h1>
    </div>
    <div class="mt-4">
      <div class="title" style="margin: 50px 0 50px 0">
        <h3> Users of the Application</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <th scope="row"><img class="img-fluid" src="<%=user.img%>" alt="logo"
                style="height: 40px; width: 40px; border-radius: 5px;"></th>
            <td>
              <%=user.name%>
            </td>
            <td>
              <%=user.email%>
            </td>
            <td>
              <%=user.createdAt.toString().slice(0,15)%>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include ../partials/footer %>