<% include ../partials/head %>
<div class="fluid-container" style="padding-bottom: 0;">
	<div class="container">
		<div class="col-lg-12 pt-4">
			<div
				class="card"
				style="background: url(/assets/images/front.jpg) center; border-radius: 4px; background-size: cover;"
			>
				<h1 class="title main__title mt-2">
					A MultiUtility <span class="highlight">App</span>
				</h1>
				<p class="description mt-4">
					A multiutility application that allows users to view movies,
					news, upcoming <br />and ongoing contests, books and also a
					post sharing platform where <br />users can post,view others
					post and like and comment as well.
				</p>
			</div>
		</div>
	</div>

	<div class="features">
		<div class="container pt-4 pb-4">
			<div class=" text-center">
				<h5 class="title" style="color: #444444;">
					Features of Our <span class="highlight">Application</span>
				</h5>
				<p class="description">
					Search any <strong>Book</strong>, get Latest
					<strong>News</strong>, Track <strong>Contest</strong>, get
					updates of <strong>Movies</strong>, Write and view
					<strong>Blogs</strong>
				</p>
			</div>

			<br />
			<div class="row">
				<div class="col-lg-3 col-sm-6 col-12">
					<div class=" card " style="padding: 16px; ">
						<h5 class="title ">Books</h5>
						<p class="description ">
							<i class="fas fa-book "></i> Search Books on any<br />
							Topic
						</p>
						<a class="btn-more text-center " href="/books"
							>See More</a
						>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6 col-12 ">
					<div class="card " style="padding: 16px; ">
						<h5 class="title ">News</h5>
						<p class="description ">
							<i class="far fa-newspaper "></i> Check out the
							Latest<br />
							News
						</p>
						<a class="btn-more text-center " href="/news"
							>See More</a
						>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6 col-12 ">
					<div class="card " style="padding: 16px; ">
						<h5 class="title ">Contest</h5>
						<p class="description ">
							<i class="fas fa-book-reader "></i> Track the
							various<br />
							Contests
						</p>
						<a class="btn-more text-center " href="/contests"
							>See More</a
						>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6 col-12 ">
					<div class="card " style="padding: 16px; ">
						<h5 class="title ">Movies</h5>
						<p class="description ">
							<i class="fas fa-film "></i> Check the latest<br />movies
						</p>
						<a class="btn-more text-center " href="/movies"
							>See More</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container pt-4 pb-4 ">
		<h5 class="title " style="color: #444444; ">Blog Section</h5>
		<div class="col-lg-12 " style="padding: 0; ">
			<div class="card mt-4 p-4 ">
				<div class="row ">
					<div class="col-md-3 col-sm-12 ">
						<img
							src="/assets/images/books.jpg "
							width="100% "
							alt=" "
						/>
					</div>
					<div class="col-md-9 col-sm-12 ">
						<h5 class="title " style="color:#1A73E8; ">Blogs</h5>
						<p class="description ">
							Share your thoughts, ideas and knowledge with other
							users by our Blog Sharing feature, Here, you can
							write your own blogs as well as view blogs posted by
							other users on the platform.
						</p>
						<a href="/blogs" class="btn btn-primary prime_btn "
							>View More</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
