<% include ../partials/head %>
<div class="fluid-container ">
    <div class="container text-center" style="height: 100%;">
        <div class="row" style="padding: 50px 0 50px 0">
            <div class="col-lg-6">
                <img class="img-fluid pt-4" src="../assets/images/403.png" alt="">
            </div>
            <div class="col-lg-6">
                <div style="margin-top: 50px">
                    <h1 class="title pt-4">Please <span style="color: #1A73E8">login</span> to Continue</h1>
                    <a href="/users/login" class="btn btn-outline-dark sec_btn custom_btn"
                        style="background: #fff; color: #4C4A78; margin-left: 0px"><img class=" mr-2"
                            src="../assets/images/search.png" height="22px" width="22px">Sign In</a>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>